.color1 {
    color: #0065FC;
}
.color2 {
    color: #DEEBFF;
}
.color3 {
    color: #F2F2F2;
}
.color4{
    color: #dbdbdb;
}

li {
    list-style-type: none;
}

@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf');
}

header {
    display: flex;
    justify-content: space-between;
}

  
body {
    margin: 0;
    padding: 0;
}
  
#desktop a:hover {
    border-top: 2px solid #0065FC;
    transition: ease-in-out 0.2s;
    color: #0065fc;
}

.inscription:hover {
    border-top: 2px solid #0065fc;
    padding-top: 23px;
  }
  
#desktop ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    padding-left: 0;
    margin:25px;
}

#desktop a {
    color:#000;
    font-family: 'Raleway';
    text-decoration: none;
    padding: 23px 10px;
}
.inscription {
    font-family: 'Raleway';
    text-decoration: none;
    padding: 25px 10px;
    text-align: right;
    margin-right: 10px;
    font-weight:bold;
    color:#0065fc;
}

#mobile {
    display: none;
  }

  #desktop ul {
    justify-content: space-between;
    width: 250px;
    margin-left: 880px;
  }
  
.logo {
    margin-left: 30px;
    padding:10px;
}
.research {
    margin: 0 40px;
}

.research h1 {
    margin: 7px 0;
}
  
.research > p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
  
  .search-bar {
    margin: 25px 0;
  }
  
.search-bar > input {
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 10px;
    border-left: 0;
    border-right: 0;
    width: 180px;
    outline: none;
}

input.submit {
    background-color: #0065fc;
    color:#fff;
    border: 1px solid #0065fc;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100px;
}
    

.fas.fa-map-marker-alt {
    background-color: #ddd;
    padding: 10px 14px;
    border: 1px solid #ddd;
    padding-top: 10px;
    transform: translateY(1px);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.filters i {
    background-color: #dfecff;
    padding: 11px;
    border-radius: 50%;
    width: 16px;
    text-align: center;
    transform: translate(-10px, 0.5px);
}
  
.filters a {
    border: 2px solid #ddd;
    padding: 8px;
    border-radius: 25px;
}
  
.filters a {
    font-weight: bold;
}

i.fa-info {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #0065fc;
    padding: 5px;
    font-size: 11px;
    width: 11px;
    transform: translate(0);
}
  

#housing {
    display: flex;
    margin: 0 40px;
}

.card > img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

article .card > img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
  
#housing article {
    max-width: 60%;
    margin-right: 5%;
    background-color: #f2f2f2;
    padding: 10px 40px 40px;
    border-radius: 30px;
}
  
#housing aside {
    max-width: 35%;
    background-color: #f2f2f2;
    padding: 10px 40px;
    border-radius: 30px;
}
  
.flex {
    display: flex;
    flex-flow: wrap;
}
  
article .flex {
    justify-content: space-between;
}
  
.card {
    width:30%;
    border: 5px solid #fff;
    border-radius: 18px;
    background-color: #fff;
    margin-bottom: 30px;
}
  
.card h3 {
    margin: 10px 10px 0px;
}
  
.card p {
    margin: 5px 10px 5px;
}

.stars {
    margin: 10px 10px 10px;
}
  
footer {
    background-color: #f2f2f2;
    display: flex;
}
  
footer > div {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 30%;
}
  
footer {
    padding: 40px;
}
  
footer div a {
    text-decoration: none;
    color: #000;
    line-height: 30px;
}

aside .card {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 190px;
}
  
aside .card img {
    width: 120px;
    height: 190px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
  
aside .card h3 {
    width: 160px;
}
  
aside .card {
    flex-wrap: wrap;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 6vw);
    grid-gap: 25px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery a:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery a:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery a:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gallery a:nth-child(4) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery a:nth-child(5) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery a:nth-child(6) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}

#activities {
  margin: 50px 40px;
}

#activities a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0px 4px 22px #ddd;
}
  
a.activity-card:nth-child(1) > img, a.activity-card:nth-child(4) > img {
    height: 90%;
}
  
a.activity-card:nth-child(2) > img, a.activity-card:nth-child(6) > img {
    height: 84%;
}
    
a.activity-card:nth-child(3) > img,a.activity-card:nth-child(5) > img {
    height: 77%;
    object-position: top;
}
a.activity-card:nth-child(3) p,a.activity-card:nth-child(5) p {
    padding:10px 15px;
}

.activity-card p {
    margin: 0;
    padding: 15px;
}  
  
.gallery img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.btn-plus {
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 30px;
    color:#000;
}

#housing aside {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
  
aside .stars {
    margin-top: auto;
    margin-left: 10px;
    margin-bottom: 10px;
}
  
aside .card > div {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

aside h2 i {
    float: right;
}
  
.filters > div p {
    margin-right: 10px;
    font-weight: bold;
}  
  
.filters a {
    padding: 0px 9px;
    height: 37px;
    margin-right: 20px;
}
  
.filters i {
    padding: 13px;
    transform: translate(-11px, -2.5px);
    color: #0065fc;
}
  
.card {
    box-shadow: 0px 1px 10px #bbb;
}
.fa-info {
    padding: 7px;
}
  
.filters a:hover {
    border: 2px solid #0065fc;
    transition: ease-in-out .3s;
}

.card:hover, .activity-card:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}
  
.btn-plus:hover, footer a:hover {
    color: #0065fc;
}

header label {
    display:none;
}


@media only screen and (max-width: 821px) {

    .fa-info {
        padding: 7px;
    }
    
    #housing {
        flex-direction: column;
    }
    
    #housing article {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    
    #housing aside {
        max-width: 100%;
    }
    
    .gallery a:nth-child(1) {
        grid-column-end: 5;
    }
    
    .gallery a:nth-child(2) {
        grid-column-start: 5;
        grid-column-end: 9;
    }
    
    .gallery {
        grid-template-rows: repeat(11, 6vw);
    }
    
    .gallery a:nth-child(3) {
        grid-column-start: 5;
        grid-column-end: 9;
    }
    
    .gallery a:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 11;
    }
    
    .gallery a:nth-child(5) {
        grid-column-start: 5;
        grid-row-start: 6;
        grid-row-end: 8;
    }
    
    .gallery a:nth-child(6) {
        grid-column-start: 5;
        grid-row-start: 8;
        grid-row-end: 11;
    }
    
    .activity-card p {
        padding: 3px 15px;
    }
    
    a.activity-card:nth-child(3) p, a.activity-card:nth-child(5) p {
        padding: 2px 15px;
    }

    a.activity-card:nth-child(3) > img, a.activity-card:nth-child(5) > img {
        object-position: center;
    }
    #activities {
        margin: 40px 40px 0px;
    }
    #desktop ul {
        justify-content: space-between;
        width: 250px;
        margin-left: 190px;
      }
  
}

@media only screen and (max-width: 480px) {
    
    nav ul {
        justify-content: center;
        width: 200px;
        flex-wrap: wrap-reverse;
    }
  
    .flex {
        flex-direction: column;
    }
  
    .card {
        width: 96%;
    }
    #housing {
      flex-direction: column-reverse;
      margin: 0;
    }
    .gallery {
      grid-template-rows: repeat(31, 6vw);
    }
    .gallery a:nth-child(1) {
      grid-column-end: 11;
    }
    .gallery a:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 11;
      grid-row-start: 6;
      grid-row-end: 11;
    }
    .gallery a:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 11;
      grid-row-start: 11;
      grid-row-end: 16;
    }
    .gallery a:nth-child(4) {
      grid-column-end: 11;
      grid-row-start: 16;
      grid-row-end: 21;
    }
    .gallery a:nth-child(5) {
      grid-column-start: 1;
      grid-row-start: 21;
      grid-row-end: 26;
      grid-column-end: 11;
    }
    .gallery a:nth-child(6) {
      grid-column-start: 1;
      grid-row-start: 26;
      grid-row-end: 31;
      grid-column-end: 11;

    }
    #housing article {
      margin-bottom: 0;
    }

    #housing aside {
        border-radius: 0;
    }
  
    #housing article {
        background-color: #fff;
    }
        
    body > header:nth-child(1) > nav:nth-child(2) > ul:nth-child(1) > li:nth-child(1), 
    body > header:nth-child(1) > nav:nth-child(2) > ul:nth-child(1) > li:nth-child(2) {
        width: 50%;
    }
        
    body > header:nth-child(1) > nav:nth-child(2) > ul:nth-child(1) > li:nth-child(3) {
        width: 100%;
    }
    a.activity-card > img {
        height: 80%!important;
    }
    .activity-card p {
      padding: 10px 15px;
    }
    a.activity-card:nth-child(3) p, a.activity-card:nth-child(5) p {
      padding: 10px 15px;
    }

    aside .card, aside .card img {
        height: 150px;
    }
    
    footer {
       flex-direction: column;
    }
  
    footer > div {
        width: 100%;
    }
    
    footer h4 {
        font-size: 20px;
    }
    footer {
        flex-direction: column;
    }
    
    footer > div {
        width: 100%;
    }
    
    .flex {
        flex-wrap: wrap;
    }
    
    .filters a {
        margin-right: 12px;
        margin-bottom: 10px;
    }
        .flex {
        flex-direction: row;
        }
    
    .filters > div p {
        width: 200px;
    }
    
    footer h4 {
        font-size: 20px;
    }

    input.submit {
        background-image: url('images/icon-search.png');
        background-size: 33px;
        background-repeat: no-repeat;
        font-size: 0;
        padding: 18px;
        transform: translate(-10px, -5px);
        width: 25px;
    }
    
    #desktop {
        display: none;
    }
    
    .inscription {
        width: 50%;
    }
    
    #mobile {
        display: flex;
        width: 100%;
    }
    
    #mobile ul {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        width: 100%;
    }
    
    #mobile li {
        width: 50%;
        text-align: center;
    }
    #mobile li:hover {
        border-bottom: 2px solid #0065fc;
    }

    header {
        flex-wrap: wrap;
    }
    #mobile ul {
      flex-direction: row;
    }
    #mobile li {
      border-bottom: 2px solid #f2f2f2;
      padding-bottom: 10px;
    }
    #mobile a {
      text-decoration: none;
      color: #000;
    }
    #mobile li:hover a {
        color: #0065fc;
    }
    #mobile ul {
        padding: 0;
    }
}

